/* ODWPI Dev Plugin CSS */
body{
	background-color: #f1f1f1;
}

.hidden{
	display: none !important;
}

pre#odwpi_output_screen{
	white-space: pre-line;
}
pre#odwpi_output_screen,
textarea#odwpi_coding_string,
textarea#odwpi_query_string{
	min-height: 300px;
}

a.dashicons.thickbox{
	text-decoration: none;
}
a.dashicons.thickbox:focus{
	box-shadow: none;
}