/* CAWeb Dev Plugin CSS */

h2{
	margin-bottom: 5px;	 
}
#wpbody{
	margin-right: 15px;
}

table, #output td{
	width: 100%;
	margin-bottom: 9px;
	border: 1px solid;
	padding: 9px;
}

th{
	padding-bottom: 9px;
}

td{
	vertical-align: top !important;
	padding-right: 9px;
}

/* CAWeb Panel Page */
#query_string, #coding_string{
	width: 100%;
	height: 300px;	
	border: 1px solid;
}

pre#output_screen {
    min-height: 100px;
}