/* ODWPI Dev Plugin CSS */
body{
	background-color: #f1f1f1;
}

.hidden{
	display: none !important;
}

pre#odwpi_output_screen {
    min-height: 325px;
}

textarea#odwpi_coding_string,
textarea#odwpi_query_string{
	height: 300px;
}