# Development files
/.vscode/
/node_modules/
/vendor/
_notes/

# Ignore temporary OS files
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# wp-env files
.wp-env.override.json