/*!
 * CAWeb Dev Admin Styles 
 */

 @import "./codemirror/";
 @import "./bootstrap";


/* options page styles */
.caweb-dev-tool-img{
    height: 96px;
    width: 96px;
}
.caweb-dev-tool-icon{
    font-size: 5rem;
}

input[type="radio"],
input[type="checkbox"]{
    background-color: transparent !important;
}