odwpi-ide{
    .cm-panels-top,
    #odwpi-editor-output-toolbar{
        z-index: 1;
        top: 32px !important
    }

    .cm-editor.cm-focused{
        outline: none;
    }

    #odwpi-editor-output {
        #odwpi-editor-output-toolbar{
            background-color: var(--bs-body-bg);
        }

        #odwpi-editor-output-topscroll{
            overflow-y: hidden;
            overflow-x: auto;
            height: 20px;
        }    
        
    }

    // bootstrap icons are 38px in width */
    button[class*="bi-"]{
        max-width: 45px;
        width: 100%;
    }

    // removes the arrow when used as a dropdown icon
    button.bi-three-dots-vertical{
        &::after {
            border: 0;
        }
        &:focus {
            border-color: var(--bs-btn-active-border-color);
        }
    }
}